.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #5a3a3d;
    
}

.register-container .card {
    background-color: #eeeaea;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 360px;
    width: 100%;
    color: rgb(45, 20, 20);
    margin-bottom: 50px;
    
}

.register-container h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #3a1a1d;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
}

.register-container label {
    font-weight: bold;
    margin-top: 0.5rem;
}




.register-container .form-control, 
.register-container .form-select {
     padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #c0a0a0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.register-container .text-danger {
    color: rgb(127, 25, 42);
    font-size: 0.875rem;
}

.register-container .d-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.register-container .btn {
    width: 48%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.register-container .btn-primary {
    color: rgb(70, 43, 43);
    color: rgb(252, 245, 245);
  
    background-color: #9b6060;
}

.register-container .btn-primary:hover {
    background-color: #e0e6eb;
    color: white;
}

.register-container .btn-secondary {
    background-color: #9b6060;
    color: white;
}

.register-container .btn-secondary:hover {
    background-color: #e0e6eb;
}

.register-container img {
    display: block;
    margin: 1rem auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
