/* General layout */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5f3438;
  padding: 15px;
}

/* Login card */
.login-card {
  background-color: #eeeaea;
  color: rgb(43, 19, 19);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(219, 212, 212, 0.232);
  width: 100%;
  max-width: 360px; 
  text-align: center;
}


.login-title {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}


.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.login-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #d3c4c4;
  border-radius: 5px;
  width: 100%;
  color: black;
  box-sizing: border-box; 
  background-color: #f9f9f9;
}

.login-error {
  color: #230f5d;
  font-weight: bold;
}


.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 50%; 
  box-sizing: border-box;
  margin: auto;
  
}

.login-btn-primary {
  background-color: #916c6c;
  color: white;
  border: none;
}

.login-btn-secondary {
  background-color: transparent;
  color: rgb(70, 43, 43);
  width: 100%;
 
}
