.main-page-container {
  text-align: center;

}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: "Comic sans MS";
  font-weight: 400;
  background-color: #d8cccc;
  min-height: 100vh;

}

.app-title {
  color: #1b0202;
  margin-bottom: 20px;
  font-size: 30px;
}

.profile-card {
  background: rgb(113, 55, 55);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative; /* חשוב כדי שהאייקון יתמקם נכון */
}

.profile-card:hover {
  transform: scale(1.05);
}

/* עטיפת התמונה והאייקון */
.profile-image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.edit-icon {
  position: absolute;
  color: #d8cccc;
  top: 15px;  
  width: 25px;
  height: 30px;
  cursor: pointer;
  border-radius: 40%;
  padding: 3px;
  box-shadow: 0px 0px 5px rgba(235, 229, 229, 0.776);
}

.profile-info h3 {
  margin: 0;
  color: #333;
  font-size: 12px;
}

.profile-info {
  margin: 5px 0;
  color: #ebd4d4;
  font-size: 20px;
}

.loading-message {
  font-size: 18px;
  color: #777;
}


.centered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%; 
  /* width: 100%;
  height: 100%; */
  object-fit: cover; /* חותך את התמונה כך שתתאים לעיגול */
  border-radius: 100%; 
  cursor: pointer;
  padding: 18%;
  border: 2px solid #100f0f;
  background-color: #efe6e6;
  box-shadow: 0px 0px 10px rgba(93, 26, 26, 0.776);
}

.btnTap{
  font-size: 10px;
  margin-top: 10px;
  color: #040202;
  background-color: #d8cccc;
}