.register-card {
  background-color:white;
  color: rgb(45, 20, 20);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;

  text-align: center;
}

.form-control, .form-select {
  color: black;}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #5a3a3d;
  padding: 15px;}
  
/* Title */
.register-title {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
}

.register-input {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: black; 
}

/* Form */
.register-form {

  text-align: center;
}

.register-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #4d2225;
}

.register-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #c0a0a0;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #151111;
}

.register-error {
  color: #d32f2f;
  font-weight: bold;
}

.register-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.register-btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 45%;
  box-sizing: border-box;
  text-align: center;
}

.register-btn-primary {
  background-color: #9b6060;
  color: rgb(24, 20, 20);
  border: none;
}

.register-btn-secondary {
  background-color: #935d5d;
  color: rgb(6, 5, 5);
  border: 1px solid rgb(120, 60, 60);
}
